.container{
    // position : absolute;
    // top : 300px;
    // left : 600px;
    // width : 300px;
    // height : 300px;
    // box-shadow : 0 2px 12px #c5c5c5;

    position : absolute;
    top : 50%;
    right : auto;
    bottom : auto;
    left : 50%;
    padding : 20px;
    margin-right : -50%;
    overflow : auto;
    background : rgb(255, 255, 255);
    border : 1px solid rgb(204, 204, 204);
    border-radius : 4px;
    outline : none;
    transform : translate(-50%, -50%);
}
.show-modal{
    position : absolute;
    top :200px;
    display : flex;   
}
.close-btn{
    height : 30px;
    padding : 5px 18px;
    font-size : 14px;
    color : #fff;
    background : #202020;
    border : 0;
    border-radius : 25px;
}
