.order-item-box{
    position : relative;
    box-sizing : border-box;
    width : 220px;
    height : 390px;
    padding : 10px 20px;
    margin : 0 auto;
    overflow : hidden;
    // background-color : #f7f7f7;
    border : 1px solid #afafaf;
    border-radius : 5px;
    transition : all .5s ease;
}
.order-title{
    padding-bottom : 10px;
    margin-bottom : 10px;
    border-bottom : 1px solid #afafaf;
}
.order-items{
    height : 160px;
    overflow : auto;
}
.order-item-box-show{
    position : relative;
    z-index : 2;
    width :350px;
    height : 590px;
}
.order-item-name{
    overflow :hidden;
    text-align : center;  
    white-space : nowrap;
}
.order-footer{
    border-top : solid 1px #afafaf;
}
.more-btn{
    margin-top : 50px;
}
.container-row-center{
    margin-top : 20px;
}
.order-total{
    font-size : 24px;
}
.cart-item-count {
    width : 30px;
    height : 30px;
    font-size : 15px;
    line-height : 2;
    color : rgb(110, 110, 110);
    text-align : center;
    background-color : rgb(216, 216, 216);
    border-radius : 30px;
}