@import '@/style/color.scss';
.menu-box{
    position : relative;
    margin-top : 65px;
    margin-bottom : 50px;
    margin-left : 100px; 
    .titleText{
        font-family : PingFangSC-Regular;
        font-size : 30px;
        font-style : normal;
        font-weight : 600;
        font-stretch : normal;
        color : $black;
        letter-spacing : normal;
        cursor : pointer;
    }
    .subTitleText{
        width : 220px;
        height : 24px;
        font-family : PingFangSC-Regular;
        font-size : 16px;
        font-style : normal;
        font-weight : 400;
        font-stretch : normal;
        line-height : 1.5;
        color : $font-grey;
        letter-spacing : normal;
    }
    .all-category-box{
        grid-column-gap : 12%;
        column-gap : 12%;
        width : 100%;
        max-width : 700px;
        margin-top : 69px;
        column-count : 2;
        .category-box{
            page-break-inside : avoid;
            break-inside : avoid;
            margin-bottom : 70px;
            .titleText{
                font-family : PingFangSC-Regular;
                font-style : normal;
                font-weight : 600;
                font-stretch : normal;
                color : #202020;
                letter-spacing : normal;
            }
            .rectangle{
                width : 40px;
                height : 8px;
                margin-top : 3px;
                background-color : #202020;
            }
            .menu-food-item{
                position : relative; 
                cursor : pointer;
                .menu-count{
                    position : absolute;
                    top : 30px;
                    left : -30px;
                    width : 24px;
                    height : 24px;
                    background-color : #d8d8d8;
                    border-radius : 24px;
                    .menu-count-text{
                        width : 24px;
                        font-family : PingFangSC-Regular;
                        font-size : 14px;
                        line-height : 24px;
                        color : #6e6e6e;
                        text-align : center;
                    }
                }
                .containerBetween{
                    display : flex;
                    justify-content : space-between;

                    .menu-text{
                        width : 100%;
                        max-width : 140px;
                        height : auto;
                        margin-top : 30px;
                        font-family : PingFangSC-Regular;
                        font-size : 16px;
                        font-style : normal;
                        font-weight : 400;
                        font-stretch : normal;
                        line-height : 1.5;
                        color : #202020;
                        letter-spacing : normal;
                    }
                    .menu-price{
                        height : 24px;
                        margin-top : 30px;
                        font-family : PingFangSC;
                        font-size : 16px;
                        font-style : normal;
                        font-weight : 400;
                        font-stretch : normal;
                        line-height : 1.5;
                        color : #202020;
                        letter-spacing : normal;
                    }
                }
                
            }
        }
    } 
}